<div class="page-header">
  <h1><a href="/">{{ site.title }}</a> {% if page.title and page.title != site.title %} <small>{{ page.title }}. {% if page.tagline %} {{ page.tagline }}. {% endif %} </small> {% endif %}</h1>
  
  <div class="btn-group">
  <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-flag"></i>
  
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu pull-right">
    {% for cat in site.categories %}
      {% capture language %}{{ cat | first }}{% endcapture %}
      {% if page.date != null %}
	  <li><a href="/{{ language }}/{{ page.date | date: "%Y" }}/{{ page.date | date: "%m" }}/{{ page.date | date: "%d" }}/{{ page.slug }}">{{ site.languages.[language] }}</a></li>
	  {% else %}
	  <li><a href="/{{ language }}/">{{ site.languages.[language] }}</a></li>
	  {% endif %}
	{% endfor %}
  </ul>
</div>
  
</div>
