<div class="share">
<div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-send="false" data-layout="button_count" data-width="100" data-show-faces="true" data-font="arial"> </div>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-text="Check out @aiww {{ page.title }}">Tweet</a>
<div class="g-plusone" data-size="medium" data-annotation="inline" data-width="120" data-href="{{ site.url }}{{ page.url }}" href="{{ site.url }}{{ page.url }}"> </div>
<a class="feed-icon" href="/feed/{{ page.categories }}/atom.xml"><img src="/assets/img/rss-icon.png" alt="feed icon" /></a>
</div>

